body{
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-attachment: fixed !important;
  background: rgb(7,116,230);
  background: linear-gradient(180deg, rgba(7,116,230,0.5634628851540616) 38%, rgba(217,217,217,0.4206057422969187) 94%);
  
}


input[type="checkbox"]{
  margin-right: 15px;
  width: 15px;
  height: 15px;
}

.btn-danger{
  position: absolute;
  right: 10px;
}

.complete{
  text-decoration: line-through;
}

@media(min-width:992px){
  .contenedor-tareas{
    margin: 0 0 0 auto !important;
  }
}